@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Plant Diary</h1>
    <p>Catalog your plants, where tehy are, when they have been watered and fertilized.</a>.</p>
    <p>We're glad you are here!</p>
</div>
